<%= render "nominations/packard_head" %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 ">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <p>Thank you.&nbsp;&nbsp;The nomination has been sucessfully submitted!&nbsp;&nbsp;You should receive an email confirmation shortly.</p>
          <p>For questions regarding your nomination submission, please contact the awards POC,
                         Ms. Vicky Deguzman, at (703) 805-1245 or email <a href="mailto:victoria.l.deguzman.civ@mail.mil">victoria.l.deguzman.civ@mail.mil</a>.
          </p>
          <p>
            To visit the Awards General Information website, please go to: <a href="http://asc.army.mil/acquisition-awards/" target="_blank">http://asc.army.mil/acquisition-awards/</a>.
          </p>
        </div>
      </div>
    </div>
</div>
