<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have been registered to use the USAASC Virtual Boards System</p>


    <p>
    Please use your email address and this password:  <%= @password %> to login to the system.
    </p>

                      <br/>
                      <p>
                      You can change your password at anytime using this link:  https://<%= Rails.application.secrets.domain_name %>
                      </p>
  <br/>
                      For questions regarding your account, please contact
                       Ms. Vicky Deguzman at (703) 805-1245 or email victoria.l.deguzman.civ@mail.mil.
                      <br/>
                      Thank you.

                     <br/>
  </body>
</html>
