
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
<h4>In order to use this site, you need to enable javascript.</h4>

</div>
</div>
</div>
</div>
