Readme
<br/>
<br/>
1.4 - 05/17/2016
<br/>
<ul>
  <li>add more search criteria on manage nominations<li>
</ul>    
1.3 - 05/16/2016
<br/>
<ul>
  <li>modify user page to create password</li>
  <li>assign user (role judge) to score a nomination type</li>
</ul>
<br/>
1.2 - 05/15/2016
<ul>
  <li>remove sign-in from nomination forms page </li>
  <li>change devise_helper message</li>
</ul>
<br/>
1.1
<br/>
1.0
