
  <% score_any = false %>
  <% @award_options.find_each do |aw|  %>
  <% @noms = @nominations.where("award_option_id = ?", aw.id) %>
  <% if not @noms.empty? %>
  <% score_any = true %>
  <h4> <%= aw.name %> </h4>
  <div class="hr-line-dashed"></div>
      <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
          <tr>
            <th scope="col">Individual Name and Organization</th>
            <th scope="col">Submission Packet</th>
            <th scope="col">1. Achievements</th>
            <th scope="col">2. Leadership <br/></th>
            <th scope="col">3. Strategic Value</th>
            <th scope="col">4. Functional Area</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <% if @noms.empty? %>
            <tr>
              <td colspan="7">
                <p> No Nominations to Score</p>
              </td>
            </tr>
          <% else %>
            <% @noms.find_each do |nom| %>

              <% score = @scores.where("nomination_id = ?", nom.id).first || Score.new %>
              <%= render "score_6_nominations", :nom => nom, :score => score, :aw => aw.id %>


            <% end %>
          <% end %>
        </tbody>
      </table>

      <% end %>
  <% end %>

  <% if not score_any %>
  <h4>There are no nominations to score at this time.</h4>
  <% end %>
  <%= hidden_field_tag "aw_list", @award_options.pluck(:id).join(",") %>
  <% content_for :javascript do %>

  <script type="text/javascript">

    function add(aw, nom) {
      var sum = 0;
      $(".score_" + aw + "_" + nom).each(function() {
          sum += Number($(this).val());
      });
      $(".score_total_" + aw + "_" + nom).val(sum);
    }

    $("[class^='score']").change(function () {
      score_class = $(this).prop("class").split(" ")[0];
      aw = score_class.split("_")[1]
      nom = score_class.split("_")[2]
      add(aw, nom);
    });

    $("[class^='score']").blur(function () {
      score_class = $(this).prop("class").split(" ")[0];
      aw = score_class.split("_")[1]
      nom = score_class.split("_")[2]
      add(aw, nom);
    });

    // initialize values
    aw_list = $("#aw_list").val().split(",");
    for ( i = 0; i < aw_list.length; i++ ) {
      $(".score_" + aw_list[i]).change();
    }

  </script>

  <% end %>
