




            <% @award_options.find_each do |aw|  %>
            <div class="row">
              <h4> <%= aw.name %> </h4>
              <div class="hr-line-dashed"></div>
              <table class="table table-striped table-bordered table-hover dataTables-example">

                <tbody>
Not Available

                </tbody>
              </table>
            </div>

            <% end %>

            <div class="row">
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-primary" type="submit">Save Score</button>
                    <%= link_to "Cancel", :controller => :boards, :action => :list, :id => "open-contacts-dialog-btn",
    :class => "btn btn-white", :method => :get %>

                </div>
            </div>
          </div>
