<script type="text/javascript">
// It works without the History API, but will clutter up the history
var history_api = typeof history.pushState !== 'undefined'

// The previous page asks that it not be returned to
if ( location.hash == '#no-back' ) {
  // Push "#no-back" onto the history, making it the most recent "page"
  if ( history_api ) history.pushState(null, '', '#stay')
  else location.hash = '#stay'

  // When the back button is pressed, it will harmlessly change the url
  // hash from "#stay" to "#no-back", which triggers this function
  window.onhashchange = function() {
    // User tried to go back; warn user, rinse and repeat
    if ( location.hash == '#no-back' ) {
      //alert("You shall not pass!")
      if ( history_api ) history.pushState(null, '', '#stay')
      else location.hash = '#stay'
    }
  }
}
</script>
<%= render "shared/nomination_head" %>


  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 ">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <p>Thank you.&nbsp;&nbsp;The nomination has been sucessfully submitted!&nbsp;&nbsp;You should receive an email confirmation shortly.</p>
          <p>For questions regarding your nomination submission, please contact the awards POC,
                         Ms. Vicky Deguzman, at (703) 805-1245 or email <a href="mailto:victoria.l.deguzman.civ@mail.mil">victoria.l.deguzman.civ@mail.mil</a>.
          </p>
          <p>
            To visit the Awards General Information website, please go to: <a href="http://asc.army.mil/acquisition-awards/" target="_blank">http://asc.army.mil/acquisition-awards/</a>.
          </p>
        </div>
      </div>
    </div>
</div>
