<%= form_for @nomination, url: "#{@callback}", method: "post", html: {class: "form-horizontal", multipart: true } do |f| %>

  <%= render :partial => "shared/nomination_base", locals: { f: f} %>

  <div class="hr-line-dashed"></div>
  <p>For questions regarding your nomination submission, please contact the awards POC, Ms. Vicky Deguzman, at (703) 805-1245 or email <a href="mailto:victoria.l.deguzman.civ@mail.mil">victoria.l.deguzman.civ@mail.mil</a>.</p>
  <p>To visit the Awards General Information website, please go to: <a href="http://asc.army.mil/web/acquisition-awards/">http://asc.army.mil/web/acquisition-awards/</a>.</p>

  <div class="hr-line-dashed"></div>
  <div class="form-group">
      <div class="col-sm-12">
          <button class="btn btn-primary" type="submit">Submit Nomination</button>
          <button class="btn btn-white" type="reset">Cancel</button>
      </div>
  </div>

<% end %>
