
<div class="row  white-bg page-heading">
  <div class="col-lg-10 col-lg-offset-1 ">

        <h2>2016 David Packard Excellence in Acquisition Award Nomination Form</h2>
        <h4>Nominations are due by midnight on <%= Date.strptime(@packard_info.nomination_end_date , "%m/%d/%Y").strftime("%A, %m/%d/%Y")
          %>.</h4>
        <p><%= @packard_info.description %></p>

  </div>
</div>

<div class="row page-heading">
</div>
