<div class="wrapper wrapper-content" style="padding-bottom: 0px;>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 ">
        <div class="ibox float-e-margins" style="padding: 0px;">

            <div class="ibox-content">

    <h2>2016 David Packard Excellence in Acquisition Award Nomination Form</h2>
    <h4>Nominations are due by midnight on Friday, May 20, 2016.</h4>
    <p><%= @packard_info.description %></p>

</div>
</div>
</div>
</div>
</div>
