<div class="row wrapper border-bottom white-bg page-heading">
  <div class="site-header col-lg-10 col-lg-offset-1 ">
    <a rel="home" title="Click for US Army" target="_blank" href="http://www.army.mil">
    <img alt="logo" src="http://asc.army.mil/web/wp-content/uploads/2014/05/banners-logos-text31.png">
    </a>
  </div>

  <div class="col-lg-10 col-lg-offset-1">
      <h2>2016 David Packard Excellence in Acquisition Award Nomination Form</h2>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>

</div>
