
<% case @nomination_type %>
<% when "packard" %>
<%= render "packard_head" %>
<% end %>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 ">
<h2>Thank you.  The nomination has been submitted.</h2>
    </div>
</div>
</div>
