
<%= render "shared/awards_head" %>

<div class="wrapper wrapper-content" style="padding-bottom: 0px;>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 ">
        <div class="ibox float-e-margins" style="padding: 0px;">

            <div class="ibox-content">


    <h2>Edit Nomination Types</h2>
    <!--ol class="breadcrumb">
        <li>
            <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
    </li>
    <li>
        <a>Forms</a>
    </li>
    <li class="active">
        <strong>Basic Form</strong>
    </li>
    </ol-->
</div>
</div>
</div>
</div>
</div>


<%= render 'form' %>
