<%= render "shared/awards_head" %>

<div class="wrapper animated fadeInRight">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 ">
        <div class="ibox float-e-margins" style="padding: 0px;">
            <div class="ibox-title">
                <h5>New Nomination Type</h5>
            </div>
            <div class="ibox-content">
<%= render 'form' %>

<%= link_to 'Back', nomination_types_path %>
</div>
</div>
</div>
</div>
</div>
